<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="js/jquery-3.4.1.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="topbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">码匠社区</span>
            </button>
            <a class="navbar-brand" href="/">码匠社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" method="get" action="/">
                <div class="form-group">
                    <input type="text" class="form-control" th:value="${search}" name="search" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user == null}"><a
                        href="https://github.com/login/oauth/authorize?client_id=Iv1.c05ceb7c8c20ee6b&redirect_uri=http://localhost:8887/callback&scrope=user&state=1">登录</a>
                </li>
                <li><a href="/publish">发问题</a></li>
                <li th:if="${session.user != null}"><a href="/profile/replies">消息<span class="badge" th:text="${session.unreadCount!=0?session.unreadCount:''}"></span></a>
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        [[${session.user.name}]]<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="/profile/questions">我的提问</a></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>